@(song: Song)


<li data-task-id="@song.id">
    
    <h4>@song.title</h4>
    <span class="assignToList"><a href=@song.link>      Link</a></span>
    
    @if(song.link != null) {
        <span class="assignedTo">@song.artist</span>
    }
    
    <span class="thumbsUp"><a href='@routes.Application.rate(song.title)'>      Thumbs UP</a></span>
    
    
    
    @if(song.releaseDate != null) { 
        <time datetime="@song.releaseDate">
            @song.releaseDate.format("MMM dd yyyy")</time>
    }

    
</li>