@(song: Track)


<li data-task-id="@song.title">
    
    <h4>@song.title</h4>
    <span class="assignToList"> ( @song.track_id ) </span>
    
    @if(song.track_id != null) {
        <span class="assignedTo">@song.artist</span>
    }
    
    <span class="thumbsUp"><a href='@routes.Application.rate(song.track_id)'>      Thumbs UP</a></span>
    
    
    
    @if(song.releaseDate != null) { 
        <time datetime="@song.releaseDate">
            @song.releaseDate.format("MMM dd yyyy")</time>
    }

    
</li>