@(songsRec: Recommendation, jobStats: StatsTimeseries, user: User)

<!DOCTYPE html>
<html>
    <head>
        <title>play2SDG</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="/public/javascripts/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
	               
	</head>
	
    <body>
    	<!--  Header User logout -->
        <header>
        
            <a href="@routes.Application.index" id="logo"><span>play</span>2<span2>sdg</span2></a>
            
            <dl id="user">
                <dt>@user.username</dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
            
        </header>
        
        <nav>
            <h4 class="dashboard"><a href="#/">Dashboard</a></h4>
            <ul id="projects">
                
            </ul>
            
            <dl class="optionsx">
        		<!--<dt>Options</dt>-->
        		</br>
        		<dd>
            		<button class="newProject">New Rating</button>
        		</dd> 
    	 	</dl>
            
        </nav>
        <section id="main">
        	
        	<header>
        		<hgroup>
            		<h1>Dashboard</h1>
            		<h2>User Recommendations</h2>
        		</hgroup>
    		</header>
         
             <article  class="tasks">
        
                <div class="folder" data-folder-id="Songs List">
                    <header>
                        <h3>Generated Recommendations</h3>
                    </header>
                    <ul class="list">
                        @songsRec.getRecmap().map { case (song,score) =>
                        <li data-task-id="@song">
                        	<h4> <b> Song: </b> @song <b> Score: </b> </h4>
                        	<span class="stats">  @score </span>
                        </li>
                        }
                    </ul>
                </div>
                
                <div class="folder" data-folder-id="CF Job Stats">
                    <header>
                        <h3>Collaborative filtering job Stats</h3>
                    </header>
                    <ul class="list">
                        @jobStats.getMetricsmap().map { case (statkey, statvalue) =>
                        	<li data-task-id="@statkey">
    							<h4>@statkey</h4>
    							<span class="stats">  @statvalue </span>
                        	</li>
                        }
                    </ul>
                    <li data-task-id="@jobStats.getTimestamp()">
                    	<h2> <center><i> Last Job Run :</i> @jobStats.getTimestamp().format("MMM dd yyyy h:m:s") </center> </h2>
                    </li>
                </div>
            
      
    </article>
        </section>
    </body>
</html>