<style>
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: grey;
 }
 
 h2, h5{
 	color : white;
 }
</style>

<div class="row">
	<div class="col-md-8">
		<h2>Recommendations</h2>
		<table class="table table-striped">
		<thead>
			<tr style="color : white">
				<th>#</th>
				<th>Song Name</th>
				<th>DNA Barcode Score</th>			
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(name,rating) in songs">
				<th scope="row">{{$index + 1}}</th>
				<td>{{name}}</td>
				<td>{{rating}}</td>
			</tr>
		</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<h2>Stats</h2>
		<table class="table table-condensed" style="color : white">
		<tbody>
			<tr>
				<td>Job Name</td>
				<td>{{jobData.id}}</td>
			</tr>
			<tr>
				<td>Executed</td>
				<td><mydate>{{jobData.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</mydate></td>
			</tr>
			<tr ng-repeat="(key,value) in jobData.statsMap">
				<td>{{key}}</td>
				<td>{{value}}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>