@(ratings: List[PlayList], songs: List[Track], user: User, totalTracks : Integer)

@main(ratings, user) {

    <article  class="tasks">
        
                <div class="folder" data-folder-id="Songs List">
                    <header>
                        <h3>Most Recent Tracks List  -  Total Tracks (@totalTracks) </h3>
                    </header>
                    <table class="table table-striped">
 						@songs.map { song => @views.html.elements.song(song) }
					</table>
                </div>
            	
            	<div>
            		<a href="@routes.Application.getNextPage(songs.last.getTrack_id())">Next Page</a>
            	</div>
        
    </article>
}