@(ratings: List[PlayList], songs: List[Track], user: User, totalTracks : Integer)

@main(ratings, user) {

    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Songs</h2>
        </hgroup>
    </header>

    <article  class="tasks">
        
                <div class="folder" data-folder-id="Songs List">
                    <header>
                        <h3>Most Recent Tracks List  -  Total Tracks (@totalTracks) </h3>
                    </header>
                    <ul class="list">
                        @songs.map { song =>
                            @views.html.elements.song(song)
                        }
                    </ul>
                </div>
            	
            	<div>
            		<a href="@routes.Application.getNextPage(songs.last.getTrack_id())">Next Page</a>
            	</div>
        
    </article>

}