@(form: Form[Login.LoginModel])

<html>
    <head>
        <title>play2sdg</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/myicon.gif")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>play</span>2<span2>sdg</span2></a>
        </header>
        
        @helper.form(routes.Login.authenticate) {
            <h1>Sign in</h1>
            
            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
               <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
               <input type="password" name="password" placeholder="Password">
            </p>
            <p>
               <button type="submit">Login</button>
            </p>
        }
        
    </body>
</html>

