@(ratings: List[PlayList], user: User)(body: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>play2SDG</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" type="text/css" href="/public/plugin/css/style.css">
	    <link rel="stylesheet" type="text/css" href="/public/css/demo.css">
	    <script type="text/javascript" src="/public/plugin/jquery-jplayer/jquery.jplayer.js"></script>
	    <script type="text/javascript" src="/public/plugin/ttw-music-player.js"></script>	    
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        
       <script type="text/javascript">
        $(document).ready(function(){
        /*for the navbar */
                jsRoutes.controllers.Application.getUserName().ajax({
            		context : this,
            		success: function(userName){$("#username").html(userName);}
   	 	       	});
   	 	       	
            });
		</script>
        
	    <!-- navbar -->
    	<div class="bs-example bs-navbar-top-example" data-example-id="navbar-fixed-to-top">
		    <nav class="navbar  navbar-inverse navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		        	<a class="navbar-brand" href="#/main">
			        <span><img alt="Brand" src="/public/images/myicon.gif" width=30 height=30 /></span>
			        Play2SDG
			      	</a>
		      	</div>
		      	<div class="collapse navbar-collapse">
		      		<ul class="nav navbar-nav navbar-right">
			        <li><a href="#/statistics">Statistics</a></li>
			        <li><a href="#/findmusic">Find Music</a></li>
			        <li><a href="#/newplaylist">New Playlist</a></li>
			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			          		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			          		<span id="username"></span>
			          		<span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu">
			            <li><a>&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
			            <li><a>&nbsp;<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Inbox</a></li>
			            <li><a>&nbsp;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="@routes.Application.logout()">&nbsp;<span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li>
			          </ul>
			        </li>
			      </ul>
		      	</div>
		    </nav>
  		</div>
  <!-- navbar end-->
	</head>
	
    <body style="padding-top: 70px;">

    	
    	<div class="container-fluid" ng-view>
    	</div>
        
        
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.min.js"></script>
		  <script src="/public/app/app.js"></script>
		  <script src="/public/app/main/main.js"></script>
		  <script src="/public/app/view2/view2.js"></script>
		  <script src="/public/app/components/version/version.js"></script>
		  <script src="/public/app/components/version/version-directive.js"></script>
		  <script src="/public/app/components/version/interpolate-filter.js"></script>
	        
    </body> 
</html>
