@(ratings: List[PlayList], user: User)(body: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>play2SDG</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="/public/javascripts/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        
        <!-- <script type="text/javascript">
            $(function(){

                $(".newProject").bind('click',function() {
                	var folder = $(this).closest("li");
                	var folderName =  folder.attr("data-group") ;
                	addProjectIntoFolder(folder.children("ul:first"),folderName);
                });
                
                $(".delete").each(function(index) {
                	bindDelete($(this));
                });
            	
            })
            
            function bindDelete(e){
                e.bind('click',function() {
                	var projectId = $(this).closest("li").attr("data-project") ;
                	deleteProject($(this).closest("li"),projectId);
                });	
            }
            
            function deleteProject(item,id) {

    	        jsRoutes.controllers.ProjectController.delete(id).ajax({
    	        	context: this,
    	        	success:function() {
    	        		item.remove();
    	        	}
    	        });
            }
            
            function addProjectIntoFolder(parent,name) {

    	        jsRoutes.controllers.ProjectController.add().ajax({
    	        	context: this,
    	        	data:{
    	        		folder:name
    	        	},
    	        	success:function(data, textStatus, jqXHR) {
    	        		parent.prepend(data);
    	        		bindDelete($(".delete:first",parent));
    	        	}
    	        });
            }
 
		</script>-->
	               
	</head>
    <body>
    	<!--  Header User logout -->
        <header>
            <a href="@routes.Application.index" id="logo"><span>play</span>2<span2>sdg</span2></a>
            
            <dl id="user">
                <dt>@user.username</dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </header>
        
        <nav>
            <h4 class="dashboard"><a href="#/">User Profile</a></h4>
            <ul id="projects">
                @ratings.map { rate=>
                        @views.html.ratings.rategroup(rate)
                }
            </ul>
            
            <dl class="optionsx">
        		<!--<dt>Options</dt>-->
        		</br>
        		<dd>
            		<button class="newProject">New Rating</button>
        		</dd>
        		 
        		</br>
        		</br>
        		
        		<dl id="test">
                <dd>
                    <a href="@routes.Application.getUserRecommendations()"> Recommendations</a>
                </dd>
            </dl>
        		
    	 	</dl>
            
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>
